.calculadora{
    display: block;
    margin: 0 auto;
    padding:25px ;
    background-color: rgb(224, 183, 240);
    width: 280px;
    height: 300px;
    border: none;
}

.calculadora td button{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 15px;
    border: none;
    background-color: rgb(235, 225, 238);
}

h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:normal;
    margin:0px auto;
    color: rgb(95, 8, 49);

}




#resultado{
    display: block;
    text-align: center;
    font-size: 25px;
    width: 230px;
    height: 50px;
    margin-bottom: 20px;
    line-height: 50px;
    background-color:  rgb(235, 225, 238);
    border-radius: 10px;
    overflow-y: scroll;

    
}